
.logoContainer {
    background: rgb(114, 148, 209);
    background-size:cover;
    margin-top: -100px;
    height: 80vh;
    width: 100%;
}

.logoQuote {
    background: url(/Logo/newlogo.png) no-repeat;
    background-size: contain;
    background-position: center;
    height: 80vh;
    width: 100%;
}

.name {
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative; left:250px; top:660px;
    text-align: center;
    padding-bottom: 10px;
}
